# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform
.terraform.lock.hcl

# Workspace directory
terraform.tfstate.d

# Terragrunt cache
.terragrunt-cache

# Python local files
__pycache__

# User state
.filecache/
*.exe
*.msi
*.rpm
*.zip
*.tfvars

# Tardigrade-ci
.tardigrade-ci
tardigrade-ci/
